@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", Verdana, Tahoma, sans-serif;
    min-height: 400%;
    background: #ffccfb;
    background: linear-gradient(180deg, rgba(255, 204, 251, 1) 0%, rgba(229, 89, 232, 1) 37%, rgba(252, 178, 69, 1) 89%);
}

.contenedor_logo img {
    margin: 10px 20px;
    width: 255px;
    transition-duration: 700ms;
    transform: rotate(0deg) scale(1) translateZ(0);
}

.contenedor_logo img:hover {
    transition-duration: 400ms;
    transform: rotate(-10deg) scale(1.2) translateZ(0);
}

.contenedor_menu a {
    margin-right: 2.5px;
    text-decoration: none;
    color: rgb(99, 0, 77);
    font-size: 24px;
    font-weight: bold;
}

.contenedor_menu a:hover {
    color: rgb(133, 11, 150);
}

.contenedor_header {
    background: rgb(40, 4, 74);
    background: linear-gradient(124deg, rgba(40, 4, 74, 0.801) 0%, rgba(225, 89, 225, 0.568) 63%, rgba(251, 255, 0, 0.253) 100%), url(imagenes/fondorosa.png);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.contenedor_navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.contenedor_ola1 {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin: 130px 25px;
    padding: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 0, 40);
}

.titulo:hover {

    animation-name: cambiar-color;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

@keyframes cambiar-color {

    0% {
        color: rgb(80, 0, 27);
    }

    25% {
        color: rgb(95, 0, 107)
    }

    50% {
        color: rgb(70, 0, 102)
    }

    75% {
        color: rgb(61, 0, 80)
    }

    100% {
        color: rgb(80, 0, 27);
    }
}


.contenedor_registrarse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 175, 99, 0.493);
    border-radius: 20px;
    text-align: center;
    width: 540px;
    margin-bottom: 50px;
}

.contenedor_datos {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.select_cedula {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 290px;
    left: -74px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #682A02;
    color: rgb(255, 155, 97);
    border-color: #ffffff00;
    transform: translateX(0px) scale(1);
    transition-duration: 150ms;
}

.select_cedula:hover {
    transform: translateX(-10px) scale(1.2);
    transition-duration: 150ms;
}

.select_numero {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 420px;
    left: -74px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #682A02;
    color: rgb(255, 155, 97);
    border-color: #ffffff00;
    transform: translateX(0px) scale(1);
    transition-duration: 150ms;
}

.select_numero:hover {
    transform: translateX(-10px) scale(1.2);
    transition-duration: 150ms;
}

h2 {
    margin: 10px 0 30px;
    color: rgb(192, 114, 11);
    font-size: 45px;
    text-align: center;
}

label {
    color: rgb(114, 65, 0);
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0 15px;
}

input {
    padding: 17px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 201, 165);
    border: 2px solid rgb(165, 75, 34);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    outline: none;
}

input::placeholder {
    color: rgba(99, 0, 41, 0.281);
    font-weight: bold;
    font-family: monospace;
    font-size: 11px;
}

.boton {
    margin: 40px;
    padding: 17px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(104, 42, 2);
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    transform: scale(1);
    transition-duration: 150ms;
}

.boton:hover {
    transform: scale(1.25);
    transition-duration: 150ms;
}

.boton a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 222, 179);
    text-decoration: none;
}